{%include "uheader.html" %}
<div class="breadcrumb-agile py-1">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item">
				<a href="">Railway Track Fault Detection </a>
			</li>
			<li class="breadcrumb-item active" aria-current="page"></li>
		</ol>
	</div>
	<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Detection </h3>
			</div>
			<div class="login px-sm-4 mx-auto mw-100 login-wrapper">
				<form class="login-wrapper"  action="prediction" ENCTYPE="multipart/form-data" method="post" >
					<div class="form-group">
						<label>Select Image File</label>
						<input type="file" class="form-control" name="file" placeholder="" required="">
						
					</div>
					
					<button type="submit" class="btn submit mt-4">Detection</button>
					<p class="text-center mt-5">
						
					</p>
				</form>
			</div>
		</div>
	</section>
	<!-- //login -->

{%include "footer.html" %}